.commentCard {
  border-radius: 8px;
  /* border: 1px solid red; */
  padding: 1rem;
  margin-block: 0.2rem;
}

.upperPart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commenterInfoContainer {
  display: flex;
  align-items: center;
}

:is(.commenterName, .date) {
  color: var(--color-dark);
  font-size: var(--paragraph-small);
  font-weight: var(--semi-bold-text);
}

.commenterInfoContainer > span {
  margin-left: 1rem;
}

.comment {
  padding-left: 4rem;
  color: var(--color-dark);
  font-size: var(--paragraph-small);
  font-weight: var(--regular);
}
