.mainHeaderContainer {
  background-color: var(--color-secondary);
  box-shadow: var(--box-shadow);
  position: relative;
}

.mainHeader {
  margin-inline: auto;
  max-width: 110rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
}

.mainLogo {
  color: var(--color-dark);
  font-size: var(--heading-large);
  font-weight: var(--semi-bold-text);
}

.menuOption {
  color: var(--color-primary);
  font-size: var(--heading-small);
  font-weight: var(--semi-bold-text);
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: var(--color-dark);
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
}
.menuOption > span {
  margin-right: 1rem;
}

.menuOption:hover {
  color: var(--color-secondary);
  background-color: var(--color-dark);
}

.menuOption path {
  transition: all 0.2s ease-in-out;
}
.menuOption:hover path {
  fill: var(--color-secondary);
}
.menuItems {
  z-index: 15;
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 12rem;
  top: 110%;
  right: 1rem;
  background-color: var(--color-secondary);
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  overflow: hidden;
}

.menuContainer {
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.menuContainer:hover {
  background-color: var(--color-dark);
}

.menuContainer:hover > svg > path {
  transition: all 0.2s ease-in-out;
  fill: var(--color-secondary);
}

.seperator {
  width: 90%;
  margin-inline: auto;
  margin-block: 3px;
  border: 2px solid var(--color-less-dark);
  border-radius: 2px;
}

.flexContainer {
  display: flex;
  align-items: center;
}

.greeting {
  margin-right: 3rem;
  font-size: var(--heading-large);
  color: var(--color-dark);
  font-weight: var(--semi-bold-text);
}

.greeting > span {
  color: var(--color-primary);
}
