.content_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: max-content;
    gap: 4em;
    border: 1px solid blue;
}

@media screen and (max-width: 1600px) {
    .content_grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1280px) {
    .content_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 780px) {
    .content_grid {
        grid-template-columns: repeat(1, 1fr);
        max-width: 44rem;
        margin-inline: auto;
    }
}