.content_grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 18rem);
  gap: 2rem;
  width: max-content;
  margin-inline: auto;
  margin-bottom: 1rem;
}

li {
  list-style: none;
}

.pageNumberChangeContainer svg {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.pageNumberChangeContainer svg:hover {
  transform: scale(1.5);
}

.placeholder {
  display: grid;
  place-items: center;
}

.placeholder > p {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-secondary);
}

.refreshIcon {
  cursor: pointer;
  position: fixed;
  right: 1rem;
  display: grid;
  place-items: center;
  box-shadow: var(--box-shadow);
  height: 2rem;
  width: 2rem;
  background-color: var(--color-secondary);
  border-radius: 50%;
  z-index: 10;
}

.refreshIcon:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1610px) {
  .content_grid {
    grid-template-columns: repeat(4, 18rem);
  }
}

@media screen and (max-width: 1310px) {
  .content_grid {
    grid-template-columns: repeat(3, 18rem);
  }
}

@media screen and (max-width: 1010px) {
  .content_grid {
    grid-template-columns: repeat(2, 18rem);
  }
}

@media screen and (max-width: 669px) {
  .content_grid {
    grid-template-columns: repeat(1, 18rem);
  }
}
