.blog_card {
    background-color: var(--theme-white);
    box-shadow: 0 0 1em -0.5em var(--theme-black);
    border-radius: 1em;
    overflow: hidden;
}

.upper_part {
    background-image: url('/src/images/mohsen-karimi-bisyYgyyoQo-unsplash.jpg');
    height: 22rem;
    background-size: cover;
    background-position: center;
    position: relative;
}

.lower_part {
    padding: 1em;
}

.blog_title {
    color: var(--theme-black);
    margin-bottom: 1em;
}

.blog_info {
    display: flex;
    justify-content: space-between;
}

.blog_info p {
    color: var(--theme-grey);
}

.left_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.right_info[single="true"] {
    justify-content: flex-end;
}

.right_info>p:only-child {
    justify-self: flex-end;
}

a.blog_card {
    transition: all 0.3s ease-in-out;
}

.upper_part>svg {
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
    z-index: 5;
}

.right_info>a {
    color: var(--theme-primary);
}

.shadow_overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.251);
}