.profile_card {
    background-color: var(--theme-white);
    border-radius: 1em;
    box-shadow: 0 0 1em -0.5em var(--theme-black);
    width: 80%;
    position: relative;
    overflow: hidden;
    margin-inline: auto;
}

.cover_photo {
    position: relative;
    height: 40rem;
    background-image: url(/src/images/hanvin-cheong-vyMOmbNKorU-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.shadow_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.308);
}

.profile_photo {
    height: 25rem;
    width: 25rem;
    background-image: url(/src/images/laura-chouette-__uuuysuybw-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;

    position: absolute;
    top: 25rem;
    left: 50%;
    transform: translateX(-50%);

    border: 5px solid var(--theme-white);
}

.lower_container {
    padding: 11em 5em 5em;
    position: relative;
}

.user_name {
    color: var(--theme-black);
    margin-block-end: 1em;
    text-align: center;
}

.user_description {
    max-width: 50rem;
    margin-inline: auto;
    text-align: center;
}

.stats {
    margin-block-start: 2em;
    margin-inline: auto;
    width: max-content;
    display: flex;
}

.stats>p:first-child {
    margin-right: 2em;
}

.profile_btn {
    position: absolute;
}

@media screen and (max-width: 960px) {
    .profile_card {
        width: 100%;
    }
}

@media screen and (max-width: 1260px) {
    .cover_photo {
        height: 35rem;
    }

    .profile_photo {
        top: 20rem;
    }
}