.main_container {
  position: relative;
  min-height: 100vh;
  /* border: 5px solid greenyellow; */
}

.loadingTextContainer {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.loadingTextContainer > h1 {
  color: var(--color-secondary);
  font-size: var(--heading-large);
  font-weight: var(--semi-bold-text);
}

.content_grid {
  padding: 1rem;
  /* background-color: var(--color-secondary); */
  display: grid;
  grid-template-columns: repeat(5, 18rem);
  gap: 2rem;

  width: max-content;
  margin-inline: auto;
  /* border-radius: 8px;
    border: var(--border);
    box-shadow: var(--box-shadow); */
}
.headingMessage {
  text-align: center;
  color: var(--color-secondary);
  font-size: var(--heading-small);
  font-weight: var(--regular);
}
