@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  place-items: center;
  background-color: var(--theme-secondary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  /* transition: all 0.3s ease-in-out; */
  --color-primary: #f19a75;
  --color-secondary: #fffbfa;
  --color-white: #ffffff;
  --color-dark: #434140;
  --color-less-dark: #434140d5;
  --color-fade: #d7d2d0;
  --color-error: #da5353;
  --color-success: #4dad21;
  --border: 1px solid rgba(0, 0, 0, 0.09);
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  --heading-large: 24px;
  --heading-small: 16px;
  --paragraph-small: 14px;
  --paragraph-large: 20px;

  --regular: 500;
  --semi-bold-text: 700;
  width: 100%;
  position: relative;
  min-height: 100vh;
  /* border: 5px solid greenyellow; */
  background-color: var(--color-primary);
}

#root[theme="teal"] {
  --color-primary: #82d44f;
  --color-secondary: #fafff8;
}

/* ocean */
/* #root[theme="teal"] {
  --color-primary: #71acca;
  --color-secondary: #f2f8fa;
} */

/* dusk */
/* #root[theme="teal"] {
  --color-primary: #ca7171;
  --color-secondary: #fcf6f6;
} */

/* sandal */
/* #root[theme="teal"] {
  --color-primary: #caa971;
  --color-secondary: #fdfaf5;
} */

/* berry */
/* #root[theme="teal"] {
  --color-primary: #717dca;
  --color-secondary: #f4f5ff;
} */

/* brinjal */
/* #root[theme="teal"] {
  --color-primary: #b571ca;
  --color-secondary: #fdf8ff;
} */

/* vomit */
/* #root[theme="teal"] {
  --color-primary: #a2ca71;
  --color-secondary: #fbfff6;
} */

/* fade */
/* #root[theme="teal"] {
  --color-primary: #8a8a8a;
  --color-secondary: #ffffff;
} */

:is(a, span, svg) {
  display: inline-block;
}

button {
  border-radius: 8px;
  border: 1px solid var(--color-dark);
  padding-inline: 1em;
  padding-block: 0.4em;
  background-color: var(--color-dark);
  color: var(--color-secondary);
  font-size: var(--heading-small);
  font-weight: var(--regular);
  justify-self: center;
  cursor: pointer;
}

button:active {
  background-color: var(--color-less-dark);
}

button:disabled {
  background-color: var(--color-secondary);
  color: var var(--color-dark);
  cursor: auto;
}

/* @media screen and (max-width: 669px) {
  #root{font-size: 10px;}
} */
